@media screen and (min-width: 600px) {
	body {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-wrap: wrap;
	background-color: black;
}
 .A2 {
	height:500px;
	width:500px;
	display:flex;
	background-image: url("images/asylum.png");
	background-repeat: no-repeat;
	background-size: 500px 500px;
}

.center-horizontal {
	display: block;
	align-items: center;	
}
.center-vertical {
	display: block;
	justify-content: center;
}
h1 {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}
 .center-horizontal2 {
	display: flex;
	align-items: center;	
}
.center-vertical2 {
	display: flex;
	justify-content: center;
}
.body {
	width: 100vw;
	height: 100vh;
}
.home {
		width: 65vw;
	height: 25vh;
	content: url("images/batsymbol.png");
	cursor: pointer;
}
.b1 {
	width: 100vw;
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
}
.b2 {
	width: 100vw;
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
}
.b3 {
	width: 100vw;
	height: 30vh;
	display:flex;
	flex-wrap: wrap;
}

 .o {
	 width: 100vw;
	 height: 100vh;
 }
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	background-image: url("images/baticon.png");
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100px 100px;
	align-items: center;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	width: 100px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 100px;	
}


.dropdown-content a:hover {background-color: yellow; color:black;}


.show {display:block;}
.spin {
	transform: rotate(360deg);
	transition-duration: 0.5s;
}
}

@media screen and (min-width: 1000px) {
body {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	background-color:black;
	margin: 0;
}
.A2 {
	height:0vh;
	width:0vw;
	display:hidden;
}

h1 {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}
.home {
	width: 65vw;
	height: 75vh;
	content: url("images/batsymbol.png");
	cursor: pointer;
}
.b1 {
	width: calc(100vw/3);
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.b2 {
	width: calc(100vw/3);
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.b3 {
	width: calc(100vw/3);
	height: 100vh;
	display:flex;
	flex-wrap: wrap;
}
.A {
	width:500px;
	height: 500px;
	background-image: url("images/asylum.png");
	width: 1000px;
	height: 800px;
	background-repeat: no-repeat;
	background-size: 500px 500px;
	background-position: center;
}
 .o {
	 width: 100vw;
	 height: 100vh;
 }
 .center-horizontal2 {
	display: none;
}
.center-vertical2 {
	dsiplay: none;
}
 .center-horizontal {
	display: flex;
	align-items: center;	
}
.center-vertical {
	display: flex;
	justify-content: center;
}
 
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	background-image: url("images/baticon.png");
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100px 100px;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px; 
}


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;		
}

.dropdown-content a:hover {background-color: yellow; color:black;}

.show {display:block;}
.spin {
	transform: rotate(360deg);
	transition-duration: 0.5s;
}
}
